.loginContainer {
  border: 1px solid var(--border-line-color);
  width: 400px;
  height: 350px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}
.loginContainer > div:first-child {
  margin-top: 50px;
}
.loginContainer > div {
  text-align: center;
  margin: 15px 0px;
}
.loginContainer > div:last-child {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -20px);
}
.loginContainer input,
button {
  width: 80%;
  height: 40px;
}
.loginContainer input {
  font-size: 18px;
}
.loginContainer button {
  background-color: var(--theme-color);
  border: 1px solid var(--border-line-color);
  font-weight: bold;
  margin-top: 10px;
}
.loginContainer button:last-child {
  background-color: unset;
}
