.formContainer {
  border: 1px solid var(--border-line-color);
  width: 400px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}
.formContainer > div:first-child {
  margin-top: 50px;
}
.formContainer > div {
  text-align: center;
  margin: 15px 0px;
}
.formContainer > div:last-child {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -20px);
}
.formContainer input,
button {
  width: 80%;
  height: 40px;
}
.formContainer input {
  font-size: 18px;
}
.formContainer button {
  background-color: var(--theme-color);
  border: 1px solid var(--border-line-color);
  font-weight: bold;
  margin-top: 10px;
}
.formContainer button:last-child {
  background-color: unset;
}
.formContainer button#removeBtn {
  background-color: #f7b8b8;
}
