/*
검색 폼
*/
.searchContainer > div {
  border: 1px solid var(--border-line-color);
  text-align: center;
  padding: 20px;
}
.searchContainer > div > div {
  display: inline-block;
}
.searchContainer select {
  height: 30px;
}
.searchContainer input {
  height: 25px;
  width: 300px;
}
.searchContainer button {
  width: 100px;
  height: 30px;
  color: white;
  background-color: var(--theme-color);
  border: none;
}

/*
테이블
*/
.tableContainer {
  margin-top: 20px;
}
.tableContainer table {
  width: 100%;
  border-collapse: collapse;
  opacity: 0;
  transition-duration: 0.5s;
}
.tableContainer table,
th,
td {
  border: 1px solid var(--border-line-color);
  padding: 3px;
  text-align: center;
}

/*
페이지네이션
*/
.paginationContainer {
  text-align: center;
  padding: 5px;
  margin: 15px 0px;
  border: 1px solid var(--border-line-color);
}
.paginationContainer span {
  margin: 0px 10px;
  cursor: pointer;
}
